---
title: "How to set column names when importing csv"
date: 2020-04-12T14:41:32+02:00
author: "Othmane Rifki"
type: technical_note
draft: false
---

### Preliminaries

In [2]:
# Import modules
import pandas as pd

# Set ipython's max row display
pd.set_option('display.max_row', 1000)

# Set iPython's max column width to 50
pd.set_option('display.max_columns', 50)

# To import csv 
from io import StringIO

### Create an example dataframe

In [5]:
# Create an example dataframe
csv_data = \
'''1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

header_list=['A','B','C','D']
df = pd.read_csv(StringIO(csv_data), names=header_list)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN