---
title: "Sort DataFrames"
date: 2020-04-12T14:41:32+02:00
author: "Othmane Rifki"
type: technical_note
draft: false
---

Most common types of data manipulation: 
- sorting rows
- subsetting columns
- subsetting rows
- adding new columns

### Generate some data

In [1]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
cars_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
cars.index = row_labels
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### Sorting row

In [22]:
cars.sort_values('cars_per_cap')

           country  drives_right  cars_per_cap
IN           India         False            18
EG           Egypt          True            45
MOR        Morocco          True            70
RU          Russia          True           200
JPN          Japan         False           588
AUS      Australia         False           731
US   United States          True           809

In [26]:
cars.sort_values(['drives_right','cars_per_cap'], ascending=[True,False])

           country  drives_right  cars_per_cap
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

### subsetting columns

In [30]:
cars['country'].head()

US     United States
AUS        Australia
JPN            Japan
IN             India
RU            Russia
Name: country, dtype: object

In [31]:
cars[['country','cars_per_cap']].head()

           country  cars_per_cap
US   United States           809
AUS      Australia           731
JPN          Japan           588
IN           India            18
RU          Russia           200

### subsetting rows

In [32]:
cars[cars['cars_per_cap']<100].head()

     country  drives_right  cars_per_cap
IN     India         False            18
MOR  Morocco          True            70
EG     Egypt          True            45

#### Subsetting by categorical variables
- `.isin()` one condition instead of several `or`, `|`

In [29]:
cars[cars['country'].isin(['Morocco','Egypt'])]

     country  drives_right  cars_per_cap
MOR  Morocco          True            70
EG     Egypt          True            45

### adding new columns

In [2]:
cars['cars_per_cap_10'] = cars['cars_per_cap']*10

In [3]:
cars.head()

           country  drives_right  cars_per_cap  cars_per_cap_10
US   United States          True           809             8090
AUS      Australia         False           731             7310
JPN          Japan         False           588             5880
IN           India         False            18              180
RU          Russia          True           200             2000